.container {
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  */
  /*position: relative;
  padding-left: 200px;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
  box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
}
@media screen and (max-width: 760px) {
  .container {
    left: 80vw;
    width: 100vw;
  }
  .open {
    left: 80vw;
    transition: left 300ms ease;
  }
  .close {
    left: 0;
    transition: left 300ms ease;
  }
}
@media screen and (min-width: 760px) {
  .container {
  }
  .open {
    left: 300px;
    transition: left 300ms ease;
  }
  .close {
    left: 0;
    transition: left 300ms ease;
  }
}
