---
layout: 'default'
title: 'Mecano'
---

.container
  .row
    .col-md-6(style="height: 150px")
      span.fa.fa-cogs
      div(style="margin-left: 40px")
        h2 Consistent usage
        p: :markdown
          Accept an object with options or an array of objects with options and a
          user callback. Execute the callback with an error if any and
          modification information.
    .col-md-6(style="height: 150px")
      span.fa.fa-rocket
      div(style="margin-left: 40px")
        h2 SSH support
        p: :markdown
          All the functions run transparently overy SSH. Look at the tests, they
          are all executed locally and then remotely.
  .row
    .col-md-6(style="height: 150px")
      span.fa.fa-history
      div(style="margin-left: 40px")
        h2 Idempotence
        p: :markdown
          Call a function multiple times and expect the same result. You’ll be
          informed of any modifications and can retrieve defailed information.
    .col-md-6(style="height: 150px")
      span.fa.fa-binoculars
      div(style="margin-left: 40px")
        h2 Reporting
        p: :markdown
          Advanced report can be optained by providing a log function,
          listening to stdout and stderr streams, generating diffs and backups.
  .row
    .col-md-6(style="height: 150px")
      span.fa.fa-magic
      div(style="margin-left: 40px")
        h2 Flexibility
        p: :markdown
          Deliberatly sacrifying speed for a maximum of strength, ease of use and
          flexibility. The simple API allows us to constantly add new
          functionnality without affecting the API.
    .col-md-6(style="height: 150px")
      span.fa.fa-fire-extinguisher
      div(style="margin-left: 40px")
        h2 Reliability
        p: :markdown
          Feel confident. The modules are used in production for years and the
          code is enforced by an extensive test coverage.
  .row
    .col-md-6(style="height: 150px")
      span.fa.fa-graduation-cap
      div(style="margin-left: 40px")
        h2 Documentation
        p: :markdown
          Learn fast. The most commons usages are enriched by many examples. Don’t
          forget to look at the tests as well as the self-documentated source
          code.
    .col-md-6(style="height: 150px")
      span.fa.fa-beer
      div(style="margin-left: 40px")
        h2 Suppport
        p: :markdown
          The package is open sourced with one of the least restrictive license.
          Involve yourself or contributes to open source development by requesting
          commercial support offered by Adaltas.



