/*.page {
  align-self: center;
  width: 100%;
  max-width: 60rem;
  margin: 1rem 0.75rem;
}*/

.heading {
  color: #0e63e3;
}
.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  // justify-content: space-around;
  // align-items: stretch;
  // flex-direction: column;
}
.layout {
  overflow: scroll;
  height: auto !important;
}
.navigation {
  overflow: scroll !important;
  aside {
    overflow: scroll !important;
  }
}
.panel {
  overflow: scroll !important;
}
// .sidebar {
//   overflow: scroll;
// }
